body {
  font-family: Roboto;
}
.heading {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f3132;
  margin-bottom: 20px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f3132;
  margin-bottom: 0;
}

.head {
  display: flex;
  justify-content: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.text_margin {
  margin-left: 34px;
  margin-right: 34px;
}
.text_flow {
  margin-bottom: 16px;
  text-emphasis: left;
  width: 224px;
}

.text_settings {
  color: #ffffff;
  margin-left: 5px;
  margin-right: 11px;
}

.top {
  background: #e0e1e2;
  padding-top: 25px;
  padding-bottom: 48px;
}

.top_text-margin {
  margin-left: 59px;
  margin-right: 59px;
}

.top__svg {
  width: 42px;
  height: 22px;
}

.top_img {
  margin-top: 94px;
  height: 230px;
  background-image: url(img/MX-Master\ 1.png);
  background-size: contain;
  margin-bottom: 41px;
  background-repeat: no-repeat;
  background-position: center;
}

.top_arrow {
  margin-top: 40px;
}

.bluetooth {
  background: #ededed;
  padding-top: 42px;
  padding-bottom: 22px;
}

.bluetooth_icon {
  margin-bottom: 27px;
}

.bluetooth_heading {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-top: 31px;
}

.bluetooth_img {
  height: 218px;
  background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.info {
  padding-top: 70px;
  padding-bottom: 77px;
}

.info_item {
  border: 1px solid #2f3132;
  flex-basis: 166px;
  padding-left: 17px;
  padding-right: 17px;
  min-height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_content {
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.info_heading {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f3132;
}

.info_text {
  margin-right: 65px;
  margin-left: 65px;
}

.info_item-heading {
  margin-bottom: 5px;
}

.carousel {
  margin-bottom: 100px;
}

.flow {
  padding-top: 70px;
  padding-bottom: 218px;
  background-image: url(img/flow_img.png);
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.flow_ol {
  margin-top: 36px;
  padding-left: 54px;
}

.settings {
  padding-top: 70px;
  background: #ededed;
}

.settings_slider {
  margin: 35px 22px 95px 22px;
}

.settings_content {
  background: #c4c4c4;
  padding: 23px 22px 26px 29px;
}

.settings_icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mouse_text {
  padding-top: 70px;
  padding-bottom: 20px;
}

.mouse_img {
  height: 310px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mouse_img_1 {
  background-image: url(img/image\ 1.jpg);
}

.mouse_img_2 {
  background-image: url(img/image\ 2.jpg);
}

.footer {
  background: #2f3132;
  height: 75px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;

  color: #c7c8c8;
  padding-top: 22px;
}

@media (min-width: 768px) {
  .top {
    padding-top: 54px;
    padding-bottom: 80px;
  }

  .top_img {
    margin-top: 159px;
    height: 514px;
    margin-bottom: 124px;
  }

  .head__logo {
    width: 240px;
  }

  .heading {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 24px;
    line-height: 28px;
  }

  .top_text-margin {
    margin-left: 124px;
    margin-right: 155px;
  }

  .text_margin {
    margin-left: 77px;
    margin-right: 77px;
  }

  .top_arrow {
    margin-top: 76px;
  }

  .top__svg {
    width: 57px;
    height: 29px;
  }

  .bluetooth {
    padding-top: 80px;
    padding-bottom: 3px;
  }

  .bluetooth_heading {
    font-size: 150px;
    line-height: 176px;
  }

  .bluetooth_img {
    height: 498px;
    margin-left: 39px;
    margin-right: 19px;
  }

  .info_content {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
  }

  .info_item-heading {
    margin-bottom: 5px;
  }

  .info_item {
    min-height: 170px;
  }

  .info_heading {
    font-size: 24px;
    line-height: 28px;
  }

  .flow {
    padding-bottom: 498px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .text_flow_2 {
    margin-left: 0;
    margin-right: 0;
  }

  .flow_ol {
    display: flex;
    list-style-position: inside;
    padding-left: 0;
  }

  .text_flow {
    width: auto;
    font-size: 20px;
    line-height: 23px;
    padding: 8px 21px 4px 28px;
    border-left: 1px solid #494949;
  }
  .text_flow:first-child {
    border-left: none;
    padding-left: 0;
  }

  .text_flow:last-child {
    padding-right: 0;
  }

  .settings {
    padding-bottom: 70px;
  }
  .settings_slider {
    margin: 54px 150px;
  }

  .settings_content {
    margin-left: 64px;
    margin-right: 65px;
  }

  .settings_icons {
    margin-right: 104px;
    margin-left: 98px;
  }

  .settings_img {
    height: 35px;
  }
  .heading_settings {
    margin-left: 215px;
    margin-right: 215px;
  }

  .text_settings_2 {
    margin-left: 65px;
    margin-right: 65px;
  }

  .text_settings {
    font-size: 20px;
    line-height: 23px;
  }

  .text_mouse {
    margin-left: 0;
    margin-right: 0;
  }

  .mouse_text {
    padding-left: 67px;
    padding-right: 64px;
    padding-bottom: 50px;
  }

  .mouse_img {
    height: 549px;
  }

  .mouse_img_1 {
    background-image: url(img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.jpg);
  }

  .mouse_img_2 {
    background-image: url(img/image\ 2-2.jpg);
  }

  .footer {
    font-size: 14px;
    line-height: 16px;
    padding-top: 47px;
    height: 150px;
  }
}
